:root{
    --cols: 10,
    --tile-size: 30px
}

@font-face {
  font-family: RobotoBold;
  src: url("./fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: RobotoMedium;
  src: url("./fonts/Roboto-Medium.ttf");
  
}
* {
    box-sizing: border-box;
    letter-spacing: 1.1px;
  }

  body {
      background-color: #000035;
      color: #e0e5e5;
      font-family: RobotoMedium;
  }

  header {
    display: flex;
    justify-content: center;
    font-size: 24px;
    text-shadow: 0 0 70px #fff, 0 0 0px #fff, 0 0 80px #4479e1, 0 0 10px #4479e1, 0 0 70px #4479e1, 0 0 70px #4479e1, 0 0 70px #4479e1;
  }

  #root{
    margin: auto;
    width: fit-content;
  }

  .header-button-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 24px;
  }

  .header-button-container button {
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
  }

    .game-instruction-container {
      display: flex;
      flex-direction: column;
      margin: 30px 20%;
  }

  .game-instruction-container h3 {
    align-self: center;
    font-size: 24px;
  }
  .game-instruction-container button {
    width: 300px;
    align-self: center;
  }
  .game-instruction-container p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.3;
  }

  .prepare-board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .prepare-board-container p {
    align-self: center;
    width: 50%;
    font-size: 16px;
    text-align: center;
  }

  .button-container{
      display: flex;
  }

  .game-container {
    display: flex;
    flex-wrap: wrap;
  }


.game-board {
  display: grid;
  grid-template-columns: repeat(10, 40px [col-start]);
  grid-gap: 0;
  border: 1px solid #e0e5e5;
  width: fit-content;
  margin: 20px;
  
}

.game-row{
    height: 40px;
}


.cell{
    display: inline-block;
    margin: 0px;
    height: 40px;
    width: 40px;
    }

.noship-cell {
  border: 1px solid #e0e5e5;
  display: inline-block;
  margin: 0px;
  height: 40px;
  width: 40px;
}

.hit-ship-cell {
  background-color: #740000;
  border: 2px solid #940404;
}

.hit-cell{
  background-color: black;
  border: 2px solid #e0e5e5;
  display: inline-block;
    margin: 0px;
    height: 40px;
    width: 40px;
}

.hit-cell div, .hit-ship-cell div{
  display: flex;
    justify-content: center;
   font-size: 30px;
    align-items: center;
  color: #e0e5e5;
}

.inactive-cell{
  background-color: #4479e1;
}


.empty-cell{
  display: inline-block;
  border: 1px solid #e0e5e5;
  margin: 0px;
  height: 40px;
  width: 40px;
}


.game-ship{
  background-color:  rgba(85, 119, 255, 0.22);
  margin: 0px;
  display: inline-block;
  position: relative;
  top: calc(100% - 42px);
  border: 4px solid #4a4ad2;;
  border-radius: 4px;
}


.ship-cell{
    background-color: rgba(85, 119, 255, 0.22);
    margin: 0px;
    display: inline-block;
    position: relative;
    top: calc(100% - 42px);
    border: 4px solid #4a4ad2;;
    border-radius: 4px;
}

button {
  padding: 14px 24px;
  text-transform: uppercase;
    color: #e0e5e5;
    background-color: inherit;
    border: 1px solid #e0e5e5;
    margin: 20px;
    font-size: 16px;
    border-radius: 2px;
     text-shadow: 0 0 10px #fff, 0 0 0px #fff, 0 0 30px #4479e1, 0 0 40px #4479e1, 0 0 50px #4479e1, 0 0 30px #4479e1, 0 0 30px #4479e1;

}


button:hover, button:active{
  background-color: #4479e1;
}

.popup-container{
  height: 260px;
  width: 500px;
  background-color: #07b1bc;
  display: flex;
  flex-direction: column;
  margin: 20p;
  padding: 20px;
  align-items: center;
  border: 1px solid black;
}

.popup-container div{
  font-size: 24px;
  padding-bottom: 24px;
}

.cross-text-style {
 text-decoration-line: line-through;
 text-decoration-thickness: 1px;
}


li {
	margin: 0;
	padding: 4px 0 4px 44px;
	list-style: none;
	background-image: url("../public/images/ship.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px;
  font-size: 18px;
}